<section class="timeline">
    <div class="wrapper">
        <h3>Linha do tempo</h3>
        <div class="conteiner">
            {{component-experience company='Lorem' years='2014 - 2016' occupation='Creative Design Lead' description='Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus, velit. Ducimus consectetur cumque, similique voluptas quia est.'}}
            {{component-experience company='Lorem' years='2014 - 2016' occupation='Creative Design Lead' description='Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus, velit. Ducimus consectetur cumque, similique voluptas quia est.'}}
            {{component-experience company='Lorem' years='2014 - 2016' occupation='Creative Design Lead' description='Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus, velit. Ducimus consectetur cumque, similique voluptas quia est.'}}
            {{component-experience company='Lorem' years='2014 - 2016' occupation='Creative Design Lead' description='Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus, velit. Ducimus consectetur cumque, similique voluptas quia est.'}}
        </div>
    </div>
</section>