*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: $font !important; 
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	color: #fff;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background: $bg-gray;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
section{
	padding: 40px 0;
}
h1{
	font-size: 3em;
	font-weight: 700;
	text-transform: uppercase;
	line-height: 1.5;
}
h2{
	font-size: 1.5em;
	text-transform: uppercase;
	line-height: 1.5;
}
h3{
	font-size: 1.5em;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 3px;
	text-align: center;
}
h4{
	font-size: 1.3em;
	text-transform: uppercase;
	letter-spacing: 3px;
	text-align: center;
	line-height: 1.5;
}
h5{
	text-transform: uppercase;
}
h6{
	font-size: .9em;
	font-weight: 600;
}
p{
	font-size: 0.9em;
	line-height: 2;
}
a{
	text-decoration: none;
}
.wrapper{
	max-width: 900px;
	padding: 20px 5%;
	margin: 0 auto;
}
.container{
	margin-top: 50px;
}
.text-decoration{
	color: $green;
}
.box{
	background: $bg-darkblue;
	padding: 40px 5%;
	-webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.5);
	box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.5);
}