.portfolio{
    background: linear-gradient(to bottom, #333b50 60%, #6a6f7e);
    .wrapper{
        h3{
            margin-bottom: 20px;
        }
        h4{

        }
        .container{
            margin-top: 50px;
            a{
                .works{
                    width: 100%;
                }
            }
        }
    }
}