.portfolio{
    background: $bg-darkblue;
    .wrapper{
        h3{
            margin-bottom: 20px;
        }
        h4{

        }
        .container{
            margin-top: 50px;
            a{
                .works{
                    width: 100%;
                }
            }
        }
    }
}