.about{
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
    .wrapper{
        .logo{
            width: 90px;
            height: 90px;
            margin-bottom: 40px;
        }
        p{
            margin-bottom: 20px;
            text-transform: uppercase;
        }
        a{
            margin-top: 15px;
            display: inline-block;
        }
    }
}