<section class="about">
    <div class="wrapper box">
        {{logo-ggg}}
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore assumenda architecto, iure, expedita repudiandae quidem consequatur minima doloremque, odio porro maxime. Sint dolor molestiae ipsam cumque eveniet laboriosam eligendi voluptate?</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Exercitationem, veritatis amet! Impedit ab, voluptatum amet delectus veniam dolore, voluptate dignissimos asperiores, doloremque maxime eligendi quia unde cupiditate corrupti illum quas?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique, cupiditate ratione dolorum maxime consectetur ab facilis, fuga architecto saepe explicabo perferendis, rem consequuntur optio earum ut eos culpa reiciendis autem!</p>
        {{component-button type='button' value='DOWNLOAD CV'}}
    </div>
</section>