<section class="hero">
    <div class="wrapper">
        <h1>Olá<span class="text-decoration">,</span><br> eu sou o <br>Guilherme <br>Galli<span class="text-decoration">.</span></h1>
        <h2>Desenvolvedor Front-End</h2>
    </div>
</section>