<section class="hero">
    <div class="wrapper">
        <h1>Olá<span class="text-decoration">,</span> eu sou o Guilherme Galli<span class="text-decoration">.</span></h1>
        <h2>Desenvolvedor Front-End</h2>
    </div>
</section>