<section class="portfolio">
    <div class="wrapper">
        <h3>Portfólio</h3>
        <h4>Últimos trabalhos. {{#link-to 'index' class="text-decoration"}}veja mais >{{/link-to}}</h4>
        <div class="container">
            {{#link-to 'index'}}<img class="works" src="/assets/images/template1.jpg" alt="">{{/link-to}}
            {{#link-to 'index'}}<img class="works" src="/assets/images/template2.jpg" alt="">{{/link-to}}
            {{#link-to 'index'}}<img class="works" src="/assets/images/template3.jpg" alt="">{{/link-to}}
        </div>
    </div>
</section>